/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html, 
body, 
main,
html body main > div,
#skills, 
#projects, 
#experience, 
#education  {
	height: 100%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.btn-floating {
	position: absolute;
	top: 10px;
	left: 10px;
}

i.mdi.mdi-image-filter-drama.white-text {
	font-size: 4rem;
	float: none;
	line-height: initial;
}

header ul.side-nav a.social-link {
	float: left;
	font-size: 2rem;
}

header ul.side-nav a.social-link i {
	margin: 0;
}

header, main, footer {
	padding-left: 300px;
}

header .navbar-fixed {
	transition: display .5s ease-in;
	position: fixed;
}

.side-nav li:not(:first-child):not(:last-child) a {
	opacity: 0.5;
}

.side-nav li:hover, .side-nav li a {
	transition: all .5s;
}


.side-nav li:not(:first-child):not(:last-child) a:hover, 
.side-nav li:not(:first-child):not(:last-child) a.active {
	background-color: initial;
	font-size: 1.2rem;
	opacity: 1;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

@media only screen and (max-width : 600px) {
	ul.side-nav li:first-child a {
		line-height: 56px;
		height: 56px;
	}
}

@media only screen and (min-width : 601px) {
	ul.side-nav li:first-child  a {
		line-height: 64px;
		height: 64px;
	}
}

@media only screen and (min-width: 993px) {
	nav .nav-wrapper {
		left: -150px;
	}
}